    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Lato;
    }
    
    .header {
        min-height: 19px;
        align-items: center;
    }
    
    img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    
    body {
        background: linear-gradient(rgba(60, 111, 174, 0.5), rgba(60, 111, 174, 0.6)), url('./../assets/bantersnaps-9o8YdYGTT64-unsplash.jpg');
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    
    .menu-bar {
        display: flex;
        min-height: 10px;
        align-items: flex-end;
        min-width: 10px;
        flex-direction: column;
    }
    
    .menu-bar div {
        width: 24px;
        height: 2px;
        background-color: #040f1d;
        margin: 2px 0;
    }
    
    .menu-bar div:nth-child(2) {
        width: 32px;
    }
    
    nav,
    main,
    footer,
    aside,
    #how-to-calculate {
        padding: 0px calc(0.18 * 100vw);
    }
    
    nav {
        color: rgb(98, 169, 255);
    }
    
    .original {
        position: fixed;
        z-index: -2;
    }
    
    .fake {
        position: relative;
        visibility: hidden;
    }
    
    aside {
        position: relative;
    }
    
    .banner {
        color: #c9dbf1;
    }
    
    aside {
        background-color: #040f1d;
        border-radius: 16px 16px 0 0;
        padding: 24px initial;
        box-shadow: 7px 0 20px rgba(0, 0, 0, 0.5);
        color: rgb(214, 202, 194);
    }
    
    .flex,
    .flexes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 8px 0;
    }
    
    .flex {
        margin: 24px 0;
    }
    
    nav {
        height: 50px;
        width: 100%;
    }
    
    h2 {
        font-weight: 900;
        margin-bottom: 24px;
        font-weight: 700;
        color: #040f1d;
    }
    
    p {
        margin: 8px 0;
        font-weight: 400;
        font-style: normal;
    }
    
    section {
        margin: 24px 0;
    }
    
    input,
    button,
    select {
        outline: none;
        border-radius: 5px;
        padding: 6px 16px;
        font-size: 16px;
        /* border: 1px solid #3b3b3b; */
    }
    
    input {
        width: 60%;
        background: transparent;
        font-family: Lato;
        font-weight: 400;
        font-size: 14px;
        /* padding: 10px 16px; */
        border: none;
        border-bottom: 1px solid #3b3b3b;
        border-radius: 0;
        color: white;
    }
    /* .aggregate-result span {
        display: block;
    } */
    
    select {
        width: 35%;
        padding: 4px 4px;
        background-color: #030a13;
        font-size: 14px;
        color: rgb(214, 202, 194);
    }
    
    input:focus {
        border-color: #3c6fae;
    }
    
    p {
        line-height: 24px;
    }
    
    #how-to-calculate {
        padding-top: 32px;
        background-color: #1a222c;
        color: white;
    }
    
    button {
        background-color: #6bbb47;
        color: #ffffff;
        border: none;
        padding: 12px 16px;
    }
    
    footer {
        background-color: #030a13;
        color: #efefef;
    }
    
    small {
        color: #6bbb47;
    }
    
    footer h4 {
        font-weight: 400;
        line-height: 36px;
    }
    
    .footer-link,
    .fa-heart {
        color: #6bbb47;
    }
    
    a {
        text-decoration: none;
    }
    
    .socials a {
        display: block;
        margin: 24px 0;
    }
    
    @media (max-width: 800px) {
        nav,
        main,
        footer,
        aside,
        #how-to-calculate {
            padding: 16px calc(0.1 * 100vw);
        }
        .sm-hide {
            display: none;
        }
    }